@import "tailwindcss";
@import "tw-animate-css";
@font-face {
  font-family: 'Inter';
  src: url('/fonts/interregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Tailwind's gray-100 */
  color: #111827; /* Tailwind's gray-900 */
}

